
    <!-- <div class="row justify-content-center ">

        <form class="col-md-6 col-12" [formGroup]="loginForm" (ngSubmit)="login()">
        <div *ngIf="errLogin!=''" class="alert alert-danger">{{errLogin}}</div>
            <div class="mb-3">
                <input placeholder="email" class="form-control" formControlName="email">
                <div class="alert alert-danger my-3" *ngIf="email?.invalid && ( email?.dirty ||email?.touched)">
                    <p *ngIf="email?.errors?.required"> * email is required </p>
                    <p *ngIf="email?.errors?.email"> * invalid email format </p>
                </div>
            </div>
            <div class="mb-3">
                <input placeholder="password" class="form-control" formControlName="password">
                <div class="alert alert-danger my-3" *ngIf="password?.invalid && ( password?.dirty ||password?.touched)">
                    <p *ngIf="password?.errors?.pattern || password?.errors?.required"> * invalid password format (password must contain capital letter, small letter, number, specaial character and more than 8 characters)</p>
                </div>

            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-primary">login</button>
            </div>
        </form>

    </div> -->
    <div class="container my-5" id="wrap">
      <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-md-offset-3">
              <form action="r"  accept-charset="utf-8" class="form"  [formGroup]="loginForm" (ngSubmit)="login()">

                      <div class="row">
                      </div>
                      <div class="my-3">
                      <input type="email" formControlName="email"class="form-control input-lg" placeholder="Your Email"  />
                    </div>
                      <div class="alert alert-danger my-3" *ngIf="email?.invalid && ( email?.dirty ||email?.touched)">
                        <p *ngIf="email?.errors?.required"> * email is required </p>
                        <p *ngIf="email?.errors?.email"> * invalid email format </p>
                    </div>



                    <div class="my-3">
                    <input type="password"  placeholder="password" class="form-control" formControlName="password">
                  </div>


                      <br />

                      <button class="btn btn-lg btn-primary btn-block signup-btn">login</button>
              </form>
            </div>

  </div>
  </div>
